@import "leaflet/dist/leaflet.css";

.leaflet-container{
    height: 100vh;
}

#containerMensajes {
    padding: 5px;
}

#containerInputs {
    margin-top: 30px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}